@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  --darkerPanelColor: #111827;
  --lighterPanelColor: #1E3A8A;
  --quicklinks: #2A56B5;
  --textColor: #fff;
  --groupBoxBorderColor: #1f2937;
  --quickLinksNewBgColor: #2a56b5; 
  --cautionColor: #d82727;
}

button {
  @apply h-10 w-32 rounded-lg border-2 py-1 text-white hover:text-yellow-500 hover:border-yellow-500;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 30vh;
  padding-top: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  /* background: #edf2f7; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #cbd5e0; */
  background: #edf2f7;
  /* border: 1px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.form-tick {
  background-image: url('../assets/check.svg');
  /* background-color: transparent; */
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.nt-section {
  max-height: 100vh;
  height: calc(100vh - 12.75rem);
  scroll-padding-top: 1rem;
}

p {
  @apply pb-5;
}

/* Layout.component */

.bg {
  background-color: var(--darkerPanelColor);
}
.bg .navigation {
  color: white;
}

.navigation:after {
    content: '';
    position: absolute;
    background-color: var(--darkerPanelColor);
    left: 5rem;
    top: 0;
    width: 20rem;
    height: 100vh;
    z-index: 10;
}

.bg .navigation .nav-select {
  background-color: var(--lighterPanelColor);
}
.bg .navigation .nav-ele {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.bg .layer {
  background-color: var(--lighterPanelColor);
  border-radius: 50px 0px 0px 50px;
  /* Shadow */
  box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.25);
}
.bg .reserve {
  max-width: 700px;
  background-color: var(--darkerPanelColor);
  border-radius: 50px 0px 0px 50px;
  /* Shadow */
  box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

/* quicklinks */
/* .square {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
} */

.quickLinkBox {
  background-color: var(--quicklinks);
}

.cross {
  background-color: var(--quickLinksNewBgColor)
}

.cross:hover {
  background-color: var(--lighterPanelColor)
}

.cross-arm {
  background-color: var(--textColor);
}
.cross:hover > div > .cross-arm {
  background-color: var(--lighterPanelColor);
  border: 1px solid var(--textColor)
}