@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

button {
  @apply border-2 py-3 text-white hover:text-yellow-500 hover:border-yellow-500;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 30vh;
  padding-top: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  /* background: #edf2f7; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #cbd5e0; */
  background: #edf2f7;
  /* border: 1px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.form-tick {
  background-image: url('../assets/check.svg');
  /* background-color: transparent; */
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.nt-section {
  max-height: 100vh;
  height: calc(100vh - 178px);
  scroll-padding-top: 1rem;
}